.game {
    width: 75%;
    margin: 0 auto;
    text-align: center;
}

.game input {
    padding-left: 10px;
    display: block;
    margin: 0 auto;
}

.game table {
    margin: 0 auto;
}

.search-results {
    z-index: 999;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    text-align: left;
    width: 465px;
    height: 160px;
    overflow: auto;
}

.search-results ul {
    background-color: #fff;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.search-results ul li {
    padding: 8px;
    transition: 0.3s;
}

.search-results ul li:hover {
    cursor: pointer;
    background-color: rgb(241, 241, 241);
}

.search-results ul li p {
    display: inline;
    padding-left: 5px;
    padding-top: 15px;
}

.small-headshot {
    width: 35px;
    height: 35px;
    border: 1px solid black;
    border-radius: 50%;
    vertical-align: middle;
}

table {
    border-collapse: collapse;
}

thead {
    border-bottom: 2px solid black;
}

td, th {
    text-align: center;
    padding: 10px;
}

.green {
    background-color: #2de35e;
}

.yellow {
    background-color: #f8ff36;
}

#flag {
    width: 48px;
    padding-top: 3px;
}

#search-field {
    border: 2px solid black;
    border-radius: 10px 10px 0px 0px;
    width: 450px;
    height: 50px;
    font-size: 18px;
    margin-top: 5px;
}