body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.logo {
    color: white;
}

.logo a {
    color: white;
    text-decoration: none;
}

.nav-toggle {
    display: none;
}

.nav-toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-toggle-label span, .nav-toggle-label span::before, .nav-toggle-label span::after {
    display: block;
    background: white;
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
}

.nav-toggle-label span::before, .nav-toggle-label span::after {
    content: '';
    position: absolute;
}

.nav-toggle-label span::before {
    bottom: 7px;
}

.nav-toggle-label span::after {
    top: 7px;
}

nav {
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    background: #333;
    width: 100%;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    margin-bottom: 1em;
    margin-left: 1em;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}

nav a:hover {
    color: rgb(170, 170, 170);
}

.nav-toggle:checked ~ nav {
    transform: scale(1, 1);
}

.nav-toggle:checked ~ nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}

.nhl-game, .nba-game {
    height: 100vh;
    display: flex;
    align-items: center;
    text-align: center;
}

.even-columns {
    flex-basis: 100%;
    display: flex;
    margin-left: 25px;
    margin-right: 25px;
}

.even-columns > * {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.col, .card-col {
    text-align: center;
    height: 75vh;
}

.card-col-container {
    width: 100%;
    height: 100%;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
    transition: 0.3s;
    width: 100%;
    height: 100%;
    background-color: white;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
}

.headshot-container img {
    border-radius: 50%;
    border: 1px solid black;
    width: 200px;
    height: 200px;
}

.card-container {
    text-align: center;
}

.middle {
    margin-left: 10px;
    margin-right: 10px;
}

.correct {
    color: green;
}

button {
    width: 15em;
    height: 3em;
    background: white;
    color: black;
    border: 2px solid white;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
    transition: 0.3s;
}

button:hover {
    background: black;
    color: white;
    border: 2px solid black;
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
}

.button-group > * {
    margin: 5px;
}

.loading, .play-menu, .home-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading-content {
    background-color: white;
    padding: 15px 45px;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
    text-align: center;
}

.play-menu-container, .home-content {
    text-align: center;
    background-color: white;
    padding: 35px;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
}

.home-content h1 {
    margin: 0;
    padding: 0;
}

.play-menu-container h1 {
    margin: 0;
}

.play-menu-container h1 {
    margin-bottom: 7.5px;
}

#season {
    margin-bottom: 10px;
}

.play-menu-container form > * {
    display: block;
    margin: auto;
}

.play-menu-container form select, .play-menu-container form input {
    width: 15em;
    height: 3em;
    border: 1px solid black;
    border-radius: 5px;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box; 
    box-sizing: border-box;
}

.play-menu-container form input {
    padding-left: 5px;
}

.label-padding {
    padding-top: 5px;
}

@media screen and (min-width: 935px) {
    .nav-toggle-label {
        display: none;
    }

    header {
        display: grid;
        grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
    }

    .logo {
        grid-column: 2 / span 1;
    }

    nav {
        all: unset;
        grid-column: 3 / 4;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    nav ul {
        display: flex;
    }

    nav li {
        margin-left: 3em;
        margin-bottom: 0;
    }

    nav a {
        opacity: 1;
        position: relative;
    }

    nav a::before {
        content: '';
        display: block;
        height: 5px;
        background: rgb(80, 80, 80);
        position: absolute;
        top: -.75em;
        left: 0;
        right: 0;
        transform: scale(0, 1);
        transition: transform ease-in-out 250ms;
    }

    nav a:hover::before {
        transform: scale(1, 1);
    }
}